
<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<th:block th:fragment="site-header">
<header class="header">
    <div class="container header-container">
        <div class="logo" >S.<span>K</span></div>
        <nav class="nav-links">
            <a class="nav-link" href="#about">About</a>
            <a class="nav-link" href="#projects">Projects</a>
            <a class="nav-link" href="#experience">Experience</a>
            <a class="nav-link" href="#achievements">Achievements</a>
            <a class="nav-link" href="#contact">Contact</a>
        </nav>
    </div>
</header>
</th:block>
</html>